<app-header></app-header>
<h3 style="text-align: center;">Profile</h3>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Nama</th>
      <th scope="col">NIM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ronaldo Wijaya</td>
      <td>00000016257</td>
    </tr>
    <tr>
      <td>Christian Djaidiguna</td>
      <td>00000015836</td>
    </tr>
    <tr>
      <td>Giovanni Kurniawan</td>
      <td>00000028665</td>
    </tr>
    <tr>
      <td>Reynaldo E</td>
      <td>00000027204</td>
    </tr>
    <tr>
      <td>Fikri Fata</td>
      <td>00000032482</td>
    </tr>
  </tbody>
</table>
